<a href="https://colab.research.google.com/github/Sid-9823/Airbnb-Bookings-Analysis/blob/main/Airbnb_Bookings_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  <u>**Project Title : Airbnb Bookings Analysis**</u>

#####**Project Type** - EDA

#####**Contribution** - Individual

#####**Individual name** - Siddhant Pal

#####**Cohort** - Berlin

![airbnb.png]()

#**Project Summary**

#**GitHub Link**

https://github.com/Sid-9823/Airbnb-Bookings-Analysis

#**Problem statement**

####**BUSINESS PROBLEM OVERVIEW**

* **What is the number of Airbnb apartments in each neighbourhood group ?**

* **How much does a unit cost on average in each neighbourhood group ?**

* **What are the top ten neighbourhoods in terms of unit count ?**

* **What are the top ten most affordable neighbourhoods ?**

* **Which room type is most prevalent in each neighbourhood ?**

* **Who are the top ten hosts in New York City ?**

* **How does the price influence the unit's 365-day availability ?**

* **What effect does pricing have on the amount of reviews ?**

* **What is the bare minimum of nights that hosts prefer ?**

**Despite the fact that Airbnb does not own any real estate, it produced $8.4 billion in income in 2022. Now, they aim to join the hotel sector starting with their first hotel New York City under the brand name, 'Airbnb Stay'.**

**As a result, we will do a complete Exploratory Data Analysis on current Airbnb units in order to give management with solutions that are both affordable and lucrative.**

### **Data Description**

**The dataset contains information such as id, name, host_id, host_name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, Number_of_reviews, last_review, reeviews_per_month, calculated_host_listing_count and availability_365.**

**Feature's Information :**
* ***id*** : *Unique ID.*

* ***name*** : *Name of the listing.*

* ***host_id*** : *Unique host_id.*

* ***host_name*** : *Name of the host.*

* ***neighbourhood_group*** : *location.*

* ***neighbourhood*** : *Area*

* ***latitude*** : *Latitude range.*

* ***longitude*** : *Longitude range.*

* ***room_type*** : *Type of listing.*

* ***price*** : *Price of listing.*

* ***minimum_nights*** : *Minimum nights to be paid for.*

* ***number_of_reviews*** : *Number of reviews.*

* ***last_review*** : *Content of the last review.*

* ***reviews_per_month*** : *Number of checks per month.*

* ***calculated_host_listings_count*** : *Total count.*

* ***availability_365*** :  *Availability around the year.*

#**Importing necessary libraries**

In [1]:
# For plotting plots and graphs.

import matplotlib.pyplot as plt
import seaborn as sns

# For numerical python, calculation and data manipulation.

import numpy as np
import pandas as pd

# **Data collection and analysis**

##**Data Loading and Basic Analysis**

In [2]:
# Loading the data from csv file to a pandas dataframe.

df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Airbnb NYC 2019.csv')

In [3]:
# Printing first 5 rows.

df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [4]:
 # Printing last 5 rows.

df.tail()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [5]:
# Checking the number of rows and columns in our dataset.

df.shape

(48895, 16)

In [6]:
# Gathering information about our dataset such as null count values and data types involved.

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [7]:
#  Getting the statistical measure of the dataframe.

df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,4.889500e+04,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000
mean,1.901714e+07,6.762001e+07,40.728949,-73.952170,152.720687,7.029962,23.274466,1.373221,7.143982,112.781327
std,1.098311e+07,7.861097e+07,0.054530,0.046157,240.154170,20.510550,44.550582,1.680442,32.952519,131.622289
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.471945e+06,7.822033e+06,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.967728e+07,3.079382e+07,40.723070,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,2.915218e+07,1.074344e+08,40.763115,-73.936275,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [8]:
# Printing number of unique values in our dataset.

df.nunique()

id                                48895
name                              47905
host_id                           37457
host_name                         11452
neighbourhood_group                   5
neighbourhood                       221
latitude                          19048
longitude                         14718
room_type                             3
price                               674
minimum_nights                      109
number_of_reviews                   394
last_review                        1764
reviews_per_month                   937
calculated_host_listings_count       47
availability_365                    366
dtype: int64

In [9]:
# Checking null values.

df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

* ***As we can see there are missing values in this dataframe***

##**Data wrangling**

In [ ]:
# Renaming our column's.

df = df.rename(columns={'Gender':'gen','Age':'age','Driving_License':'dl','Region_Code':'rc','Previously_Insured':'pi','Vehicle_Age':'va',
                        'Vehicle_Damage':'vd','Annual_Premium':'ap','Policy_Sales_Channel':'psc','Vintage':'vint','Response':'res'})

* ***Changing column's names as per our convenience as it becomes easier working with small feature names.***